service: vow-api

frameworkVersion: '3'

plugins:
  - serverless-jetpack
  - serverless-offline
  - serverless-webpack
  - serverless-webpack-prisma
custom:
  webpack:
    includeModules: true

provider:
  name: aws
  runtime: nodejs16.x
  region: eu-north-1

functions:
  api:
    handler: dist/lambda.handler
    events:
      - http:
          method: any
          path: /{proxy+}

package:
#   individually: true
  include:
    - "**/node_modules/.prisma/client"
