name: lambda-deployment-with-github-action

on: 
  push:
    branches:
        main
  
jobs:
  lambda-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to repo
        uses: actions/checkout@v3
        
      - name: Create .env file
        run: |
          touch .env
          echo DATABASE_URL=${{ secrets.DATABASE_URL }} >> .env
          echo AWS_S3_BUCKET="${{ secrets.AWS_S3_BUCKET }}" >> .env

      - name: Setup node environment
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          
      - name: Install serverless globally
        run: npm install -g serverless
      
      - name: Configure serverless authentication
        run: sls config credentials --provider aws --key ${{ secrets.AWS_ACCESS_KEY_ID }} --secret ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Install npm dependencies
        run: npm install

      - name: build
        run: npm run build
     
      - name: Deploy lambda function
        run: sls deploy
